<section class="especifico receta">
  <div class="especifico-fondo" style="background-image:url('./images/recetas/{{$ctrl.receta.imagen}}-f.jpg')">
  </div>
  <div class="especifico-info">
    <a ng-href="#!/" class="especifico-volver">Volver a recetas</a>
    <h1>{{$ctrl.receta.titulo}}</h1>
    <p><b>Ingredientes:</b></p>
    <ul>
      <li ng-repeat="ingrediente in $ctrl.receta.ingredientes">{{ingrediente}}</li>
    </ul>
    <br>
    <p><b>Preparación</b></p>
    <p ng-repeat="preparacion in $ctrl.receta.preparacion">{{preparacion}}</p>
    <div class="especifico-footer">
      <a href="./images/descarga-recetas/{{$ctrl.receta.imagen}}.pdf" target="_blank"class="producto-ficha" ng-click="$ctrl.descarga()">Descargar Receta</a>
      <a ng-href="#!/">Volver</a>
    </div>
  </div>
</section>
