<section class="receta">
  <div class="receta-fondo" style="background-image:url('./images/recetas/{{$ctrl.receta.imagen}}')">
  </div>
  <div class="receta-info">
    <h1>{{$ctrl.receta.titulo}}</h1>
    <p><b>Ingredientes:</b></p>
    <ul>
      <li></li>
    </ul>
    <p><b>Preparación</b></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolorem ex illum aliquid eaque nobis repudiandae! Magni reprehenderit nesciunt commodi excepturi magnam obcaecati a dolorum repudiandae aperiam, temporibus optio consequatur.</p>
  </div>
</section>