<section class="receta">
  <div class="receta-fondo" style="background-image:url('./images/recetas/{{$ctrl.receta.imagen}}')">
  </div>
  <div class="receta-info">
    <a ng-href="#!/" class="receta-volver">Volver a recetas</a>
    <h1>{{$ctrl.receta.titulo}}</h1>
    <p><b>Ingredientes:</b></p>
    <ul>
      <li ng-repeat="ingrediente in $ctrl.receta.ingredientes">{{ingrediente}}</li>
    </ul>
    <br>
    <p><b>Preparación</b></p>
    <p ng-repeat="preparacion in $ctrl.receta.preparacion">{{preparacion}}</p>
  </div>
</section>