<div class="nav">
  <div class="centrador">
    <div class="nav-logo">
      <a ng-href="#!/"><img src="./images/logo-dinizzio.png" alt="logo"></a>
      
      <div ng-click="$ctrl.menu()" class="nav-button"></div>
    </div>
    <nav>
      <a ng-href="#!/#productos">Nuestros Productos</a>
      <a ng-href="#!/#comercial">Comercial</a>
      <a ng-href="#!/#recetas">Recetas</a>
      <a ng-href="#!/#consejos">Consejos</a>
      <a ng-click="$ctrl.modal()">Contáctanos</a>
    </nav>
  </div>
</div>