<div class="nav">
  <div class="centrador">
    <div class="nav-logo">
      <a ng-href="#!/"><img src="./images/logo-dinizzio.png" alt="logo"></a>
      
      <div ng-click="$ctrl.menu()" class="nav-button"></div>
    </div>
    <nav>
      <a ng-click="$ctrl.nav('productos')">Nuestros Productos</a>
      <a ng-click="$ctrl.nav('comercial')">Comercial</a>
      <a ng-click="$ctrl.nav('recetas')">Recetas</a>
      <a ng-click="$ctrl.nav('consejos')">Consejos</a>
      <a ng-click="$ctrl.modal()">Contáctanos</a>
    </nav>
  </div>
</div>