<div class="main">
  <section class="home">
    <div>
      <img ng-src="./images/logo-dinizzio-home.png" alt="Logo Di Nizzio" class="no-mobile">
      <h1>É Vera Pasta</h1>
      <h2 class="no-mobile">la más rica, que no se pega ni se pasa, está hecha con 100% trigo Durum.</h2>
    </div>
  </section>
  <section class="slider" id="productos">
    <div class="slider-titulo">
      <h1>Nuestros Productos</h1>
      <p>100% Trigo Durum</p>
    </div>
    <ul class="bxslider2">
      <li ng-repeat="producto in $ctrl.slider">
        <a ng-href="#!/producto/{{producto.url}}">
          <img ng-src="./images/productos/{{producto.imagen}}" alt="{{producto.titulo}}">
          <div class="slider-info">
            <p class="h4">{{producto.titulo}}</p>
          </div>
        </a>
      </li>
    </ul>
  </section>
  <section class="promocion f-cen-cen" id="comercial">
    <h1 class="titulo titulo-left">Comercial</h1>
    <div ng-click="$ctrl.modal()">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
      <path d="M256,0C114.617,0,0,114.615,0,256s114.617,256,256,256s256-114.615,256-256S397.383,0,256,0z M344.48,269.57l-128,80
        c-2.59,1.617-5.535,2.43-8.48,2.43c-2.668,0-5.34-0.664-7.758-2.008C195.156,347.172,192,341.82,192,336V176
        c0-5.82,3.156-11.172,8.242-13.992c5.086-2.836,11.305-2.664,16.238,0.422l128,80c4.676,2.93,7.52,8.055,7.52,13.57
        S349.156,266.641,344.48,269.57z"/>
      </svg>
    </div>
  </section>
  <section class="recetas f-cen-cen" id="recetas">
    <!-- <h1>Recetas con la  Vera Pasta!</h1> -->
    
    <div class="recetas-lista">
      <h1>Recetas</h1>
      <a ng-repeat="receta in $ctrl.recetas" ng-href="#!/receta/{{receta.id}}" >
        <div class="recetas-item">
          <img ng-src="./images/recetas/{{receta.imagen}}.jpg" alt="{{receta.titulo}}">
          <p>{{receta.titulo}}</p>
        </div>
      </a>
    </div>
  </section>
  <section class="actividades f-cen-cen" id="actividades">
    <h1 class="titulo titulo-left">Actividades</h1>
    <ul class="bxslider-videos">
      <li>
          <iframe src="https://www.youtube.com/embed/qG_oSzf-UcA?&amp;rel=0&amp;autohide=2&amp;border=0&amp;wmode=opaque&amp;version=3&amp;enablejsapi=1&amp;showinfo=0" frameborder="0" class="iframeoculto"></iframe>
          <div class="video">
            <div class="videosIframe">
            </div>
          </div>

      </li>
      <li>
        <iframe src="https://www.youtube.com/embed/Uz5AJ4fO0lg?&amp;rel=0&amp;autohide=2&amp;border=0&amp;wmode=opaque&amp;version=3&amp;enablejsapi=1&amp;showinfo=0" frameborder="0" class="iframeoculto"></iframe>
        <div class="video">
          <div class="videosIframe">
          </div>
        </div>

      </li>
    </ul>
        
  </section>
  <section class="encuentranos">
    <h1>Encuentranos en:</h1>
    <ul>
      <li>
        <img src="./images/logo-jumbo.png" alt="jumbo">
        <p>Bilbao</p>
      </li>
      <li>
        <img src="./images/logo-jumbo.png" alt="jumbo">
        <p>Bilbao</p>
      </li>
      <li>
        <img src="./images/logo-jumbo.png" alt="jumbo">
        <p>Bilbao</p>
      </li>
    </ul>
  </section>
</div>