<div class="modal">
  <div class="modal-conte">
    <div ng-if='$ctrl.modal.type === "video"'>
      <div class="video">
        <div>
          <iframe src="https://www.youtube.com/embed/nHjOdiMuWiY?&amp;rel=0&amp;autohide=2&amp;border=0&amp;wmode=opaque&amp;enablejsapi=1&amp;showinfo=0" frameborder="0"></iframe>
        </div>
      </div>
    </div>
    <div ng-if='$ctrl.modal.type === "contacto"'>
      <form ng-submit="$ctrl.submitForm()" class="formulario">
        <input required type="text" placeholder="nombre" ng-model="$ctrl.user.nombre">
        <input required type="email" placeholder="correo" ng-model="$ctrl.user.correo">
        <textarea placeholder="comentario" ng-model="$ctrl.user.comentario"></textarea>
        <button type="submit">Enviar</button>
        <span>{{$ctrl.mensaje}} <i ng-class="$ctrl.estado"></i></span>
      </form>
    </div>
    <i class="icon-close" ng-click="$ctrl.cerrar()"></i>
  </div>
</div>