<div class="modal">
  <div class="modal-conte">
    <div ng-if='$ctrl.modal.type === "video"'>
      <div class="video">
        <div>
          <iframe src="https://www.youtube.com/embed/nHjOdiMuWiY?&amp;rel=0&amp;autohide=2&amp;border=0&amp;wmode=opaque&amp;enablejsapi=1&amp;showinfo=0" frameborder="0"></iframe>
        </div>
      </div>
    </div>
    <div ng-if='$ctrl.modal.type === "contacto"'>
      <form action="" class="formulario">
        <input type="text" placeholder="nombre">
        <input type="text" placeholder="correo">
        <textarea name="" id="" placeholder="comentario"></textarea>
        <button type="submit">Enviar</button>
      </form>
    </div>
    <i class="icon-close" ng-click="$ctrl.cerrar()"></i>
  </div>
</div>