.receta{
  align-items: center;
  background: #E5E5E5;
  min-height: calc(100vh - #{$altura-nav} - #{$altura-footer});
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem 1rem;
  &-fondo{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 10rem;
    width: 100vw;
  }
  &-info{
    background: white;
    box-shadow: $shadow;
    color: #000;
    margin-top: -3rem;
    max-width: 800px;
    padding: 1rem 2rem;
    width: 100%;
    h1{
      font-size: 2rem;
      color: #000;
    }
    ul{
      
    }
    li{
      &:before{
        content: '·'
      }
    }
  }
}
@include respond-to(m){
  .receta{
    &-info{
      h1{
        font-size: 2.5rem;
      }
    }
    &-fondo{
      height: 15rem;
    }
  }
}
@include respond-to(l){
  .receta{
    min-height: calc(100vh - #{$altura-nav-lg} - #{$altura-footer-lg});
    padding-bottom: 3rem;
    &-info{
      h1{
        font-size: 3rem;
      }
    }
    &-fondo{
      background-position: zcenter;
      background-repeat: no-repeat;
      background-size: cover;
      height: 20rem;
    }
  }
}